<!DOCTYPE html>
<html>
<head>
  <title>Rorplaces</title>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEECJw2onFnSfAcBZ6_FQq7h0eoFXUQZ8&callback=initMap"
    type="text/javascript"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>

<% flash.each do |type, message|  %>
  <div class="alert alert-info fade-in">
    <button class="close" data-dismiss="alert">x</button>
    <%= message %>
  </div>
<% end %>

<% if current_page?(root_path) %>
  <div class="landing">
<% else %>
  <div class="container">
<% end %>
  <%= yield %>
</div>

<footer class="footer">
  <div class="container">
    <p class="text-muted text-center">Visit <%= link_to "edgargomez.es", "http://edgargomez.es" %> for more <strong>Ruby on Rails</strong> apps.</p>
  </div>
</footer>

</body>
</html>
